.badge {
    height: 1.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 12px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--note-bg);
    color: var(--note-fg);
    border: 1px solid var(--note-border-color);
    flex-shrink: 0;
    border-radius: 9999px;
    font-weight: 500;
    text-transform: capitalize;
    white-space: nowrap;
    font-feature-settings: "tnum";
    font-variant-numeric: tabular-nums;
}

.badgeContentContainer {
    display: flex;
    align-items: center;
    gap: 2px;
}

.tealColors {
    --note-bg: var(--ds-teal-700);
    --note-fg:  var(--ds-contrast-fg);
}

.errorColors {
    --note-bg: var(--ds-red-200);
    --note-border-color: var(--ds-red-100);
    --note-fg: var(--ds-red-900);
}

.warningColors {
    --note-bg: var(--ds-amber-700);
    --note-border-color: var(--ds-amber-100);
    --note-fg:#000;
}

.successColors {
    --note-fg:  var(--ds-contrast-fg);
    --note-bg: var(--ds-blue-700);
    --note-border-color: var(--ds-blue-100)
}

.neutralColors {
    --note-border-color: var(--ds-gray-400);
    --note-fg: var(--ds-gray-900);
    --note-bg: transparent;
}

.purpleColors {
    --note-bg: var(--ds-purple-700);
    --note-border-color: var(--ds-purple-100);
    --note-fg:  var(--ds-contrast-fg);
}

.rustColors {
    --note-bg: hsl(var(--accent-muted));
    --note-border-color: var(--border);
    --note-fg:   var(--primary-accent);
}